@import "variables.scss";

.modal-title {
  font-size: 1.9rem;
  font-weight: 500;
  margin: 10px 0;
  text-align: left;
}

.total {
  color: #97999b;
  font-size: 18px;
  font-weight: 550;
}

.w55 {
  width: 55px;
  height: 48px;
}

.w200 {
  width: 200px;
  height: 48px;
}

.w275 {
  width: 275px;
  height: 48px;
}


.c-green-export{
  color: #029d55;
  border: solid 0.5px #00db75;
}

@media (max-width: 850px) {
}
