<div class="cli-header">
  <div (click)="openMobileMenu()" class="header-icon">
    <mat-icon>menu</mat-icon>
  </div>
  <div class="logoheader">
    <img class="hlogo" src="../../../assets/images/logos/log2.svg" />
    <!-- <img class="hlogo" src="../../../assets/images/logos/cardano-white.svg" /> -->
    <div class="logo-let">
      <div class="bold c-purple">Web</div>
      <div style="font-weight: bold">DynamoSupport</div>
    </div>
  </div>
  <div class="header-nav-items"></div>
  <div class="row">
    <div class="personname" style="color: #555555">
      {{ currentUser | uppercase }}
    </div>
  </div>
  <app-user-section [photouri]="phtouri" [nameini]="nameini"></app-user-section>

  <button
      type="submit"
      class="btn-grey mb-2 mt-3 btn-logout"
      (click)="logOut()"
      ><mat-icon class="icon-16">logout</mat-icon>Salir
   </button>

</div>

<app-menu-mobile></app-menu-mobile>
