<div class="cli-card fit-card">
  <div class="cli-card-body">
    <div class="modal-title c-male">Registro de vacaciones</div>
    <div>
      <!-- BUSCADOR POR FILTRO ---------------------------------------------------------------->
      <div class="card" style="border-radius: 2px; font-weight: 600; padding: 7px">
          <form class="row g-3" [formGroup]="filtroForm">

            <div class="col-sm-3 cli-form-element">
              <label class="form-label">Código</label>
              <input
                type="text"
                class="form-control"
                formControlName="nombres"/>
            </div>

            <div class="col-sm-3 cli-form-element">
              <label class="form-label">Nombres</label>
              <input
                type="text"
                class="form-control"
                formControlName="nombres"/>
            </div>

            <div class="col-sm-3 cli-form-element">
              <label class="form-label">Apellidos</label>
              <input
                type="text"
                class="form-control"
                formControlName="apellidos"/>
            </div>

            <div class="col-sm-3 cli-form-element">
              <label class="form-label">Cód.Proyecto</label>
              <select class="form-select" formControlName="codProy">
                <option [value]="0" disabled>- Seleccione -</option>
                <option [value]="cod.id" *ngFor="let cod of listCodProy">{{cod.codigo}}</option>
              </select>
            </div>

            <div class="col-sm-3 cli-form-element">
              <label class="form-label">Estado</label>
              <select class="form-select" formControlName="estado">
                <option [value]="0" disabled>-Seleccione-</option>
                <option [value]="estado.id_correlativo" *ngFor="let estado of listEstadoVacacionesAprobadas" >{{estado.valor_texto_1}}</option>
              </select>
            </div>


            <div class="col-sm-3 cli-form-element">
              <label class="form-label">Registros de:</label>
              <select class="form-select" formControlName="codProy">
                <option [value]="0" disabled>- Seleccione -</option>
                <option [value]="admin.id_correlativo" *ngFor="let admin of listAdminVacaciones">{{admin.valor_texto_1}}</option>
              </select>
            </div>

            <div class="col-sm-3 cli-form-element">
              <div class="form-group">
                <label>Fecha registro vacaciones <span class="date-rango">(desde)</span></label>
                 <input
                  type="date"
                  class="form-control"
                  formControlName="fechaIngresoInicio"/>
              </div>
            </div>

            <div class="col-sm-3 cli-form-element">
              <div class="form-group">
                <label>Fecha registro vacaciones<span class="date-rango">(hasta)</span></label>
                <input
                  type="date"
                  class="form-control"
                  formControlName="fechaIngresoFin"/>
              </div>
            </div>

            <div class="cli-form-buttons" style="margin-top: 8px">
              <button
                type="submit"
                class="cli-btn btn-cancel"
                style="border-radius: 2px; padding: 0.225rem 0.75rem"
                (click)="limpiarFiltro()"
              ><mat-icon class="icon-18">rotate_left</mat-icon>
                Limpiar
              </button>

              <button
                type="button"
                class="cli-btn btn-blue-light"
                style="border-radius: 2px; padding: 0.225rem 0.75rem"
                (click)="cargarOBuscarVacaciones()"
                ><mat-icon class="icon-18">search</mat-icon>
                Buscar
              </button>
            </div>
          </form>
      </div>


      <!-- EXPORTAR REGISTRO DE VACACIONES ----------------------------------------------------->
      <div style="display: flex" class="mt-4 mb-1">
            <button
            class="cli-btn btn-blue"
            style="margin: 0"
            type="button"
            (click)="crearVacaciones()"
            ><mat-icon class="icon-18">person_add</mat-icon>Agregar vacaciones
          </button>
          <button
            matTooltip="Descargar registro"
            class="icon-btn btn-trans c-green-export"
            (click)="exportarRegistro()"
          ><mat-icon class="icon-18">file_download</mat-icon>Exportar
          </button>

        <div class="flex-1"></div>
        <div class="mt-2" style="color: #345df3; font-weight: 600;">
          Total : <span class="total">{{ listaRegVacaciones.length }} Personas</span>
        </div>
      </div>

      <!-- TABLA DE VACACIONES DEL PERSONAL ------------------------------------------------------------------>
      <div style="overflow: auto; min-height: 300px">
        <table class="cli-table stripedtable underlinedtable">
          <thead>
            <tr class="bgc-blue-light c-white">
              <th>Acción</th>
              <th>Código</th>
              <th>Nombres y Apellidos</th>
              <th>Cód. Proyecto</th>
              <th>Responsable</th>
              <th>Fecha registro</th>
              <th>Cant. días</th>
              <th>Periodo</th>
              <th>Sistema</th>
              <th>Estado</th>
              <th>Planificado</th>
              <th>Pendiente</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let vacaciones of listaRegVacaciones | paginate:
                      { itemsPerPage: pageSize,
                        currentPage : page,
                        totalItems  : totalPersonal
                      } ">
              <td class="w50">
                <div class="cli-table-actions">
                  <button matTooltip="Agregar Vacaciones"
                    class="icon-btn btn-trans c-darkcyan"
                    (click)="actualizarVacaciones(vacaciones)"
                    ><mat-icon class="icon-18">hail</mat-icon>
                  </button>
                </div>
              </td>
              <td>{{ vacaciones.codigo_corporativo }}</td>
              <td class="w350"> {{ vacaciones.apellidos |firstCapital}}, {{vacaciones.nombres | firstCapital}}</td>
              <td>{{ vacaciones.codigo_proyecto | uppercase}}</td>
              <td class="w350">{{vacaciones.usu_asig}}</td>
              <td class="w100">{{ vacaciones.fecha_ingreso }}</td>
              <td style="color: #0daef4; width: 100px; font-weight: 600;"> 20 <small>d</small></td>
              <td>{{ vacaciones.perfil | firstCapital }}</td>
              <td> {{vacaciones.sistema}}</td>
              <td>{{vacaciones.vac_estado}}</td>
              <td style="color: #20c997; font-weight:600;"> 12 <small>d</small></td>
              <td style="color: red"> 8 <small>d</small></td>

              <!-- <td class="w100">
                <div class="cli-table-actions">
                  <ng-container *ngIf="vacaciones.total_rh >= 1" >
                    <small class="c-indigo" style="display:flex; flex-direction:inherit">{{vacaciones.total_rh}}</small>
                    <button
                      class="icon-btn c-indigo"
                      style="background: none; cursor: none;"
                      ><mat-icon class="icon-13">devices</mat-icon>
                    </button>
                  </ng-container>

                  <div *ngIf="vacaciones.total_rh != 0 && vacaciones.total_rc != 0" class="h-divider"></div>

                  <ng-container *ngIf="vacaciones.total_rc >= 1">
                    <small   class="c-cyan">{{vacaciones.total_rc}}</small>
                    <button
                      class="icon-btn  c-cyan"
                      style="background: none; cursor: none;"
                      ><mat-icon class="icon-13">vpn_lock</mat-icon>
                    </button>
                  </ng-container>
                </div>
              </td> -->

              <!-- <td>
                <span *ngIf="vacaciones.estado == 'Activo'"   class="w135 label estado-info">  {{ vacaciones.estado | uppercase }}</span>
                <span *ngIf="vacaciones.estado == 'Inactivo'" class="w135 label estado-danger">{{ vacaciones.estado | uppercase }}</span>
              </td> -->
            </tr>
          </tbody>
        </table>

        <div class="cli-loader" *ngIf="loadingItem">
          <mat-spinner style="margin-right: 20px" diameter="20"></mat-spinner>cargando...
        </div>

        <div
          *ngIf="!loadingItem && listaRegVacaciones.length == 0"
          class="cli-loader mt-5"
          style="color: #f83434"
          >No hay Registro de Vacaciones para mostrar
        </div>
      </div>
    </div>

    <div class="card-footer pb-0 pt-3">
      <pagination-controls
        previousLabel="Anterior"
        nextLabel="Siguiente"
        [responsive]="false"
        (pageChange)="cambiarPagina($event)">
      </pagination-controls>
    </div>
  </div>
</div>
