<div class="view-backgrond"></div>

<div class="form-card">
  <div class="login-form">
    <img class="logo" src="../../../assets/images/logos/cardano.svg" />
    <div class="title-login">
      <div class="c-male">Bienvenido a la web</div>
      <div style="margin-top: 10px">DynamoSupport</div>
    </div>

    <form [formGroup]="loginForm" class="loginform my-2">
      <div class="input-group mb-3 mt-4" >
        <input
          type="email"
          class="form-control"
          placeholder="Username"
          formControlName="username"/>
          <ng-container class="input-group-append">
            <div class="input-group-text"><mat-icon>person</mat-icon></div>
          </ng-container>
          <small class="form-text text-danger" *ngIf="campoNoValido('username')">* Debe ingresar un Username válido</small>
        </div>

      <div class="input-group mb-3">
        <input
          type="password"
          class="form-control"
          placeholder="Password"
          formControlName="password"/>
          <div class="input-group-append">
            <div class="input-group-text">
              <mat-icon>lock</mat-icon>
            </div>
          </div>
        </div>
        <small class="form-text text-danger" *ngIf="campoNoValido('password')">* Debe ingresar una Password válido</small>

      <!-- Iniciar sesión-->
      <div class="form-group text-center">
        <button
          class="cli-btn btn-l btn-login my-4"
          type="submit"
          (click)="login()"
          [disabled]="loginForm.invalid"
        ><mat-icon class="icon-cent icon-16">login</mat-icon> Ingresar
        </button>
      </div>
    </form>
  </div>
</div>
