@import "variables.scss";

.modal-title {
  font-size: 1.7rem;
  font-weight: 400;
  margin: 4px 0;
  text-align: center;
}

.text-alert {
  font-size: 10px;
  color: #f66d7a;
  margin-top: 0;
}

.w55 {
  width: 55px;
}

.cli-table {
  width: 100%;
  background-color: #fff;
  & th {
    padding: 4px;
    font-weight: 300 !important;
    text-align: center;
  }
  & td {
    vertical-align: middle;
    text-align: center;
    font-size: 0.8rem;
    // padding: 4px 8px;
  }
  &-actions {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-input {
    border: 1px solid $color-grey-4;
    border-radius: 2px;
  }
}

.estado-act{
  background: #ef62a8;
  text-align: center;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 25px;
  font-size: 15px;
  border-radius: 6px
}

@media (max-width: 768px) {
  .modal-title {
    font-size: 1.2rem;
    font-weight: 400;
    margin: 5px 0;
    text-align: center;
  }

  .btn-m {
    height: 20px;
    padding: 15px;
  }
}
