@import "variables.scss";

.modal-title {
  font-size: 1.7rem;
  font-weight: 400;
  margin: 4px 0;
  text-align: center;
}

.text-alert {
  font-size: 10px;
  color: #f66d7a;
  margin-top: 0;
}


@media (max-width: 768px) {
  .modal-title {
    font-size: 1.2rem;
    font-weight: 400;
    margin: 5px 0;
    text-align: center;
    // margin-left: 20%;
  }
  .btn-m {
    height: 20px;
    padding: 15px;
  }
}
