.title-entidad {
  font-size: 1.4rem;
  font-weight: 500;
  margin: 10px 0;
  text-align: center;
  color: #03bccf
}

.total {
  color: #97999b;
  font-size: 18px;
  font-weight: 550;
}

.w90 {
  width: 90px;
  height: 48px;
}

.w100 {
  width: 100px;
  height: 48px;
}

.w150 {
  width: 150px;
  height: 48px;
}
@media (max-width: 850px) {
}
