<div style="display: flex">
  <div class="flex-1"></div>
  <div class="modal-title c-male">Listado personal</div>
  <div class="flex-1"></div>

  <button (click)="close()" class="icon-btn btn-trans c-orange moda-close-btn">
    <mat-icon>close</mat-icon>
  </button>
</div>

<div class="cli-card">
  <div style="padding: 5px 5px">
    <div>
      <!-- BUSCADOR POR FILTRO ---------------------------------------------------------------->
      <div class="buscar">
          <form class="row g-3" [formGroup]="filtroForm">
            <div class="col-sm-3 cli-form-element">
              <label class="form-label">Código</label>
              <input
                type="text"
                class="form-control"
                placeholder="Ingrese Código"
                formControlName="nombres"/>
            </div>

            <div class="col-sm-3 cli-form-element">
              <label class="form-label">Nombres</label>
              <input
                type="text"
                class="form-control"
                placeholder="Ingrese nombre(s)"
                formControlName="apellidos"/>
            </div>

            <div class="col-sm-4 cli-form-element">
              <label class="form-label">Apellidos</label>
              <input
                type="text"
                class="form-control"
                placeholder="Ingrese Apellidos"
                formControlName="codigo_corp"/>
            </div>

            <div class="col-sm-2">
              <div style="margin-top: 18px; display: flex;">
                <button
                  type="button"
                  matTooltip="Buscar"
                  class="btn-hardware btn-blue-light"
                  style="border-radius: 2px; "
                  (click)="cargarOBuscarPersonal()"
                  ><mat-icon class="icon-18">search</mat-icon>
                 </button>
                 <button
                  type="submit"
                  matTooltip="Limpiar"
                  class="btn-hardware btn-cancel"
                  style="border-radius: 2px;"
                  (click)="limpiarFiltro()"
                ><mat-icon class="icon-18">rotate_left</mat-icon>
                </button>
              </div>
            </div>
          </form>
      </div>

      <!-- BOTON MODAL PARA AGREGAR PEERSONAL ----------------------------------------------------->
      <div style="display: flex" class="mt-4 mb-1">
        <div class="flex-1"></div>
        <div style="color: #345df3;">
          Total : <span class="total">{{ listaPersonal.length }} Activos</span>
        </div>
      </div>

      <!-- TABLA DE LISTADO PERSONAL ------------------------------------------------------------------>
      <div style="overflow: auto; min-height: 150px">
        <table class="cli-table stripedtable underlinedtable">
          <thead>
            <tr class="bgc-turquey c-white">
              <th>Acción</th>
              <th>Código</th>
              <th>Nombres y Apellidos</th>
              <th>Proyecto</th>
              <th>Estado</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let personal of listaPersonal | paginate:
                      { itemsPerPage: pageSize,
                        currentPage: page,
                        totalItems: totalHardware
                      } ">
              <td>
                <div class="cli-table-actions">
                  <button
                    matTooltip="Agregar"
                    class="icon-btn btn-trans c-blue"
                    (click)="asignarPersonal(personal.id)"
                    ><mat-icon class="icon-13">add</mat-icon>
                  </button>
                </div>
              </td>
              <td>{{ personal.codigo_corporativo }}</td>
              <td class="w350"> {{ personal.apellidos |firstCapital}}, {{personal.nombres | firstCapital}}</td>
              <td>{{ personal.codigo_proyecto  | uppercase   }}</td>
              <td>
                <span *ngIf="personal.estado == 'Activo'"   class="w135 label estado-info">  {{ personal.estado | uppercase }}</span>
                <span *ngIf="personal.estado == 'Inactivo'" class="w135 label estado-danger">{{ personal.estado | uppercase }}</span>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="cli-loader" *ngIf="loadingItem">
          <mat-spinner style="margin-right: 20px" diameter="20"></mat-spinner>cargando...
        </div>

        <div
          *ngIf="!loadingItem && listaPersonal.length == 0"
          class="cli-loader mt-5"
          style="color: #f83434"
          >No hay Personal disponible para mostrar
        </div>
      </div>
    </div>

    <div class="card-footer pb-0 pt-3">
      <pagination-controls
        previousLabel="Anterior"
        nextLabel="Siguiente"
        [responsive]="false"
        (pageChange)="cambiarPagina($event)">
      </pagination-controls>
    </div>
  </div>
</div>
