// CARDS
.cli-wrapper {
  padding: 10px 20px;
  height: 100%;
}
.cli-card {
  min-width: 0;
  display: flex;
  background-color: #fff;
  flex-direction: column;
  word-wrap: break-word;
  background-clip: border-box;
  border-radius: 0.25rem;
  overflow: hidden;
  height: 100%;
}
.fit-card {
  min-height: 70vh;
  max-width: 1600px;
  margin: auto;
}
.cli-card-body {
  // background: #f4f6f9; // SE AGREGAR BACK
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1rem 2rem;
}

.cli-title-center {
  text-align: center;
  font-size: 2.4rem;
  line-height: 3.2rem;
  position: relative;
  margin-bottom: 10px;
}
.cli-title {
  display: flex;
  font-size: 2.2rem;
  line-height: 3rem;
  position: relative;
  margin-bottom: 5px;
}
.cli-subtitle {
  font-size: 1.4rem;
  line-height: 2rem;
  position: relative;
}
.cli-text {
  font-size: 1.1rem;
  line-height: 1.2rem;
}
.cli-suggest {
  font-size: 0.98rem;
  line-height: 1.1rem;
  color: $color-grey-5;
  font-family: "Webapp-Light";
}

// estilos title para modal -  subtitle
.modal-title {
  font-size: 1.7rem;
  font-weight: 400;
  margin: 4px 0;
  text-align: left;
}

.chart-draw {
  flex: 1 1;
  // overflow: auto;
}

.newvac-wrapper {
  border-radius: 3px;
  max-width: 95%;
  margin: 5px auto;
  padding: 5px;
}

.pr-section {
  margin-left: 10px;
  padding-left: 20px;
  padding-top: 4px;
  border-left: 1px solid $color-blue;
}

.pr-subtitle {
  font-size: 0.8rem;
  font-family: "Webapp-Bold";
  color: $color-blue;
}

.pr-module {
  &-container {
    margin: 2px 0;
    padding: 6px;
    border: dashed 1px #d3d4d3;
    border-radius: 2px;
  }
}

@include mobile {
  .cli-card-body {
    padding: 1rem;
  }
}
