<div style="display: flex">
  <div class="flex-1"></div>
  <div class="modal-title c-male"> Actualizar cuenta </div>
    <div class="flex-1"></div>

    <button (click)="close()" class="icon-btn btn-trans c-orange moda-close-btn">
      <mat-icon>close</mat-icon>
    </button>
</div>

<form class="row g-3" [formGroup]="cuentaForm">
  <div class="cli-form newvac-wrapper">
    <div class="row g-3">

      <div class="col-sm-4 cli-form-element">
        <div class="form-group">
          <label>Username</label>
          <input
            type="text"
            class="form-control cli-input-white"
            formControlName="usuario"/>
        </div>
      </div>

      <div class="col-sm-4 cli-form-element">
        <label>Password</label>
        <input
          type="text"
          class="form-control cli-input-white"
          formControlName="password"/>
      </div>

      <div class="col-sm-4 cli-form-element">
        <label>Tipo</label>
        <select class="cli-input-white" formControlName="idTipo">
          <option [value]="0" disabled>- Seleccione -</option>
          <option [value]="tipo.id" *ngFor="let tipo of tipos">{{ tipo.nombre }}</option>
        </select>
      </div>
    </div>


    <!-- --------------------------------------------BOTONES ------------------------------------------>
    <div class="cli-form-buttons">
      <button class="cli-btn btn-m btn-grey" type="submit" (click)="close()">
        <mat-icon class="icon-18">cancel</mat-icon> Cancelar
      </button>
      <button class="cli-btn btn-m btn-blue"
              (click)="actualizarCuenta()"
              [disabled]="cuentaForm.invalid"
              >
              <mat-icon class="icon-18">save</mat-icon> Actualizar
      </button>
    </div>
  </div>
</form>

<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="square-jelly-box"
  [fullScreen]="true"
>
  <p style="color: white">Cargando...</p>
</ngx-spinner>
